/.idea
__pycache__
/venv
/dist/
/*.spec
/build
/my_module/module_use/logs/
/my_module/module_use/config/
/my_module/file_ops/resources/
/my_scripts/resources/
/tests/test_my_module/resources
/tests/test_my_scripts/resources
